129 ACCELERATORS
BEGIN
    "A", 40104, NOINVERT, CONTROL, VIRTKEY
    "C", 57634, NOINVERT, CONTROL, VIRTKEY
    "F", 40115, NOINVERT, CONTROL, VIRTKEY
    "L", 40105, NOINVERT, CONTROL, VIRTKEY
    "V", 57637, NOINVERT, CONTROL, VIRTKEY
    "Y", 57644, NOINVERT, CONTROL, VIRTKEY
    "Z", 57643, NOINVERT, CONTROL, VIRTKEY
    "N", 57600, NOINVERT, CONTROL, VIRTKEY
    "O", 40001, NOINVERT, CONTROL, VIRTKEY
    "S", 57603, NOINVERT, CONTROL, VIRTKEY
    "S", 40002, NOINVERT, CONTROL, SHIFT, VIRTKEY
    0x7B, 40025, NOINVERT, VIRTKEY                          // F12
    "M", 40040, NOINVERT, CONTROL, VIRTKEY
    "B", 40036, NOINVERT, CONTROL, VIRTKEY
    "P", 40038, NOINVERT, CONTROL, VIRTKEY
    "U", 40043, NOINVERT, CONTROL, VIRTKEY
    "H", 40039, NOINVERT, CONTROL, VIRTKEY
    "R", 40076, NOINVERT, CONTROL, VIRTKEY
    "G", 40042, NOINVERT, CONTROL, VIRTKEY
    "T", 40046, NOINVERT, CONTROL, VIRTKEY
    "C", 40044, NOINVERT, CONTROL, SHIFT, VIRTKEY
    "E", 40045, NOINVERT, CONTROL, VIRTKEY
    "J", 40047, NOINVERT, CONTROL, VIRTKEY
    "K", 40048, NOINVERT, CONTROL, VIRTKEY
    "Q", 40082, NOINVERT, CONTROL, VIRTKEY
    "M", 40037, NOINVERT, CONTROL, SHIFT, VIRTKEY
    "I", 40049, NOINVERT, CONTROL, VIRTKEY
    0x74, 40053, NOINVERT, VIRTKEY                       // F5
    0x75, 40054, NOINVERT, VIRTKEY                       // F6
    0x76, 40064, NOINVERT, VIRTKEY                       // F7
    0x77, 40065, NOINVERT, VIRTKEY                       // F8
    0x78, 40066, NOINVERT, VIRTKEY                       // F9
    0x79, 40072, NOINVERT, VIRTKEY                          // F10
    0x7A, 40071, NOINVERT, VIRTKEY                          // F11
    0x72, 40092, NOINVERT, VIRTKEY                       // F3
    0x73, 40093, NOINVERT, VIRTKEY                       // F4
    "W", 40133, NOINVERT, CONTROL, VIRTKEY
    0x71, 40024, NOINVERT, VIRTKEY                       // F2
END

