ISOLATIONAWARE_MANIFEST_RESOURCE_ID RT_MANIFEST "FA2sp.manifest"

129 ACCELERATORS
BEGIN
"N", 57600, VIRTKEY, CONTROL,           NOINVERT
"S", 57603, VIRTKEY, CONTROL,           NOINVERT
"S", 40002, VIRTKEY, CONTROL,SHIFT,     NOINVERT
END