#include <Windows.h>

179 DIALOG 0, 0, 300, 130
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Aircraft Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 241, 110, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 110, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 7, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 45, 7, 132, 110
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 25, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 25, 132, 11
    CONTROL "State:", 1261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 62, 40, 10
    CONTROL "", 1082, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 45, 62, 132, 110
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 90, 66, 14
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 44, 89, 248, 110
    CONTROL "VeteranLevel:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 8, 40, 17
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 228, 8, 65, 12
    CONTROL "Group", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 26, 37, 12
    CONTROL "AutoNORecruitType:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 44, 39, 15
    CONTROL "AutoYESRecruitType:", 1267, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 189, 63, 39, 18
    CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 228, 26, 65, 12
    CONTROL "", 1086, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 228, 63, 65, 12
    CONTROL "LONG DESC", 1233, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 5, 120, 19, 10
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 43, 40, 10
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 45, 43, 132, 110
    CONTROL "", 1085, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 228, 44, 66, 60
}