#include <Windows.h>

179 DIALOG 0, 0, 321, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Aircraft Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 111, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 111, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 7, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 7, 132, 106
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 26, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_TOOLTIPS | TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 26, 132, 11
    CONTROL "State:", 1261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 63, 40, 10
    CONTROL "", 1082, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 63, 132, 106
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 90, 44, 14
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 66, 90, 248, 106
    CONTROL "VeteranLevel:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 212, 7, 40, 17
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 250, 7, 65, 12
    CONTROL "Group", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 212, 26, 37, 12
    CONTROL "AutoNORecruitType:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 212, 45, 39, 15
    CONTROL "AutoYESRecruitType:", 1267, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 212, 63, 39, 18
    CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 250, 26, 65, 12
    CONTROL "", 1086, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 250, 63, 65, 12
    CONTROL "LONG DESC", 1233, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 5, 120, 19, 10
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 19, 42, 40, 10
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 42, 132, 106
    CONTROL "", 1085, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 250, 45, 66, 56
    CONTROL "", 1300, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 5, 11, 14
    CONTROL "", 1301, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 21, 11, 14
    CONTROL "", 1302, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 39, 11, 14
    CONTROL "", 1303, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 60, 11, 14
    CONTROL "", 1304, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 197, 5, 11, 14
    CONTROL "", 1305, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 197, 21, 11, 14
    CONTROL "", 1306, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 197, 39, 11, 14
    CONTROL "", 1307, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 197, 60, 11, 14
    CONTROL "", 1308, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 88, 11, 14
}
