#include <Windows.h>

205 DIALOG 0, 0, 303, 234
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "AI Trigger Types"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "AI Trigger:", 50900, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 52, 16
    CONTROL "", 1199, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 7, 236, 307
    CONTROL "Name:", 50901, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 63, 43, 11
    CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 64, 94, 13
    CONTROL "Teamtype #1:", 50902, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 80, 43, 17
    CONTROL "", 1204, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 81, 236, 81
    CONTROL "House:", 50903, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 64, 50, 16
    CONTROL "", 1205, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 220, 64, 76, 207
    CONTROL "Teamtype #2:", 50904, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 98, 43, 17
    CONTROL "", 1206, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 98, 235, 81
    CONTROL "Techlevel:", 50905, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 280, 206, 0, 0
    CONTROL "", 1162, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 288, 222, 0, 0
    CONTROL "Type:", 50906, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 44, 53, 17
    CONTROL "", 1163, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 45, 235, 71
    CONTROL "Data:", 1210, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 265, 204, 0, 0
    CONTROL "", 1211, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 287, 222, 0, 0
    CONTROL "Weight:", 50907, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 150, 33, 11
    CONTROL "", 1213, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 148, 56, 13
    CONTROL "MinWeight:", 50908, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 165, 38, 11
    CONTROL "", 1215, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 59, 164, 56, 13
    CONTROL "MaxWeight:", 50909, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 125, 165, 40, 11
    CONTROL "", 1216, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 180, 164, 54, 13
    CONTROL "MinDiff:", 50910, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 279, 222, 0, 0
    CONTROL "", 1165, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP, 291, 222, 0, 0
    CONTROL "Multi-Side:", 50911, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 115, 33, 12
    CONTROL "Delete", 1066, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 23, 53, 15
    CONTROL "Add", 1154, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 23, 53, 15
    CONTROL "Clone", 1919, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 23, 53, 15
    CONTROL "Enabled", 1218, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 23, 76, 11
    CONTROL "Easy", 1424, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 133, 42, 13
    CONTROL "Medium", 1425, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 132, 42, 13
    CONTROL "Hard", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 132, 42, 13
    CONTROL "Base defense", 1452, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 116, 67, 13
    CONTROL "Available in Skirmish", 1453, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 116, 85, 14
    CONTROL "", 1456, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 116, 56, 63
    CONTROL "Unittype (X):", 50912, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 200, 51, 10
    CONTROL "", 1149, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 212, 125, 255
    CONTROL "Condition:", 50913, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 200, 50, 11
    CONTROL "", 1449, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 212, 95, 82
    CONTROL "", 1450, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 109, 212, 54, 13
    CONTROL "Number (N):", 50914, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 200, 56, 11
    CONTROL "Additional parameters for the appropiate AI Trigger Types:", 50915, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 188, 295, 12
}