#include <Windows.h>

177 DIALOG 0, 0, 350, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Houses"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "TAHOMA"
{
    CONTROL "", 1091, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 63, 263, 121
    CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 95, 343, 145
    CONTROL "", 1256, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 47, 263, 68
    CONTROL "DESC [quite long]", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 333, 39
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 63, 64, 22
    CONTROL "Add house", 1092, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 79, 80, 15
    CONTROL "Standard houses", 1093, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 79, 80, 15
    CONTROL "Delete house", 1094, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 79, 80, 15
    CONTROL "IQ:", 1287, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 105, 40, 10
    CONTROL "", 1095, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 105, 100, 70
    CONTROL "Edge:", 1288, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 120, 40, 10
    CONTROL "", 1096, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 120, 100, 65
    CONTROL "Side", 1289, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 175, 40, 10
    CONTROL "", 1097, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 175, 285, 148
    CONTROL "Color", 1290, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 135, 40, 10
    CONTROL "", 1098, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 135, 100, 148
    CONTROL "Allies:", 1291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 190, 40, 10
    CONTROL "", 1099, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 190, 269, 12
    CONTROL "Credits (x100):", 1292, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 150, 40, 17
    CONTROL "", 1100, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 150, 100, 12
    CONTROL "Acts like:", 1293, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 195, 300, 69, 14
    CONTROL "", 1101, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 272, 300, 70, 48
    CONTROL "Nodecount:", 1294, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 105, 68, 15
    CONTROL "", 1102, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 105, 100, 46
    CONTROL "Techlevel:", 1295, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 120, 63, 10
    CONTROL "", 1103, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 120, 100, 125
    CONTROL "Build activity (%):", 1296, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 135, 66, 17
    CONTROL "", 1104, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 135, 100, 46
    CONTROL "Player control:", 1297, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 170, 150, 70, 20
    CONTROL "", 1105, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 240, 150, 100, 46
    CONTROL "Human Player:", 1255, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 46, 65, 16
    CONTROL "...", 1145, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 326, 190, 14, 12
}