#include <Windows.h>

174 DIALOG 0, 0, 300, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Infantry options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 239, 132, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 132, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 6, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 6, 126, 154
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 24, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 24, 128, 11
    CONTROL "State:", 1261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 42, 40, 13
    CONTROL "", 1082, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 42, 126, 88
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 105, 68, 19
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 79, 103, 211, 110
    CONTROL "VeteranLevel:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 185, 6, 35, 15
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 6, 65, 12
    CONTROL "Group:", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 185, 24, 32, 16
    CONTROL "AboveGround:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 185, 42, 32, 16
    CONTROL "AutoNORecruitType:", 1267, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 185, 60, 36, 17
    CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 24, 65, 12
    CONTROL "", 1085, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 42, 65, 12
    CONTROL "", 1086, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 60, 65, 12
    CONTROL "LONG DESC", 1233, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 6, 187, 38, 8
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 60, 40, 10
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 60, 126, 110
    CONTROL "AutoYESRecruitType:", 1268, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 185, 78, 34, 19
    CONTROL "", 1090, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 78, 65, 12
}