#include <Windows.h>

148 DIALOG 0, 0, 303, 294
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Lighting Settings"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Lighting settings define the color of the terrain in the game, and you can specify a very dark or very bright map. Be careful, using wrong settings may cause the player to be unable to see his units.", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 5, 290, 25 
   CONTROL "Normal", 1298, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 35, 290, 65 
   CONTROL "Ion storm settings", 1299, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 110, 290, 65 
   CONTROL "Ambient:", 1300, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 50, 50, 10 
   CONTROL "", 1058, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 50, 75, 12 
   CONTROL "Green:", 1305, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 65, 50, 10 
   CONTROL "", 1059, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 65, 75, 12 
   CONTROL "Red:", 1304, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 50, 50, 10 
   CONTROL "", 1060, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 50, 75, 12 
   CONTROL "Blue:", 1306, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 80, 50, 10 
   CONTROL "", 1061, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 80, 75, 12 
   CONTROL "Level:", 1301, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 65, 50, 10 
   CONTROL "", 1062, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 65, 75, 12 
   CONTROL "Ground:", 1315, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 80, 50, 10 
   CONTROL "", 1073, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 80, 75, 12 
   CONTROL "Ambient:", 1302, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 125, 50, 10 
   CONTROL "", 1063, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 125, 75, 12 
   CONTROL "Green:", 1308, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 140, 50, 10 
   CONTROL "", 1064, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 140, 75, 12 
   CONTROL "Red:", 1307, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 125, 50, 10 
   CONTROL "", 1065, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 125, 75, 12 
   CONTROL "Blue:", 1309, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 160, 155, 50, 10 
   CONTROL "", 1066, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 210, 155, 75, 12 
   CONTROL "Level:", 1303, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 140, 50, 10 
   CONTROL "", 1067, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 140, 75, 12 
   CONTROL "Ground:", 1316, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 155, 50, 10 
   CONTROL "", 1074, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 155, 75, 12 
   CONTROL "Dominator settings", 1320, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 183, 290, 65 
   CONTROL "Ambient:", 1310, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 198, 50, 10 
   CONTROL "", 1068, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 198, 75, 12 
   CONTROL "Green:", 1311, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 159, 214, 50, 10 
   CONTROL "", 1069, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 209, 214, 75, 12 
   CONTROL "Red:", 1312, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 159, 198, 50, 10 
   CONTROL "", 1070, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 209, 198, 75, 12 
   CONTROL "Blue:", 1313, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 159, 228, 50, 10 
   CONTROL "", 1071, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 209, 228, 75, 12 
   CONTROL "Level:", 1314, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 214, 50, 10 
   CONTROL "", 1072, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 214, 75, 12 
   CONTROL "Ground:", 1317, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 228, 50, 10 
   CONTROL "", 1075, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 228, 75, 12 
   CONTROL "NukeAmbientChangeRate:", 1318, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 250, 124, 10 
   CONTROL "", 1076, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 250, 125, 12 
   CONTROL "DominatorAmbientChangeRate:", 1319, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 265, 125, 10 
   CONTROL "", 1077, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 265, 126, 12 
}
