#include <Windows.h>

181 DIALOGEX 0, 0, 235, 127
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Loading...", 1102, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 221, 9 
   CONTROL "Progress1", 1101, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE, 7, 18, 221, 13 , WS_EX_DLGMODALFRAME
   CONTROL "Homepage: http://www.westwood.com", 1300, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 78, 221, 11 
   CONTROL "\xA9 2001 ELECTRONIC ARTS INC.  ALL RIGHTS RESERVED\nWestwood Studios(tm) is an Electronic Arts(tm) brand.", 1301, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 100, 221, 21 
   CONTROL "", 1232, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 37, 154, 13 
   CONTROL "Version:", 1279, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 37, 61, 9 
   CONTROL "", 1233, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 52, 154, 13 
   CONTROL "Built by:", 1280, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 52, 61, 9 
}
