#include <Windows.h>

217 DIALOG 0, 0, 347, 246
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Singleplayer Map Settings"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Movies && other singleplayer stuff.", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 289, 16 
   CONTROL "Movies", 1341, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 117, 141, 151 
   CONTROL "Intro:", 1342, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 128, 59, 18 
   CONTROL "", 1327, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 128, 68, 161 
   CONTROL "Brief:", 1343, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 144, 59, 18 
   CONTROL "", 1328, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 144, 68, 202 
   CONTROL "Win:", 1344, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 160, 59, 18 
   CONTROL "", 1329, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 160, 68, 185 
   CONTROL "Lose:", 1345, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 177, 59, 15 
   CONTROL "", 1330, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 176, 68, 203 
   CONTROL "Action:", 1346, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 192, 59, 18 
   CONTROL "", 1170, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 192, 68, 158 
   CONTROL "PostScore:", 1347, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 208, 59, 18 
   CONTROL "", 1332, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 208, 68, 194 
   CONTROL "PreMapSelect:", 1348, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 224, 59, 18 
   CONTROL "", 1333, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 224, 68, 223 
   CONTROL "Starting dropships:", 1337, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 23, 67, 16 
   CONTROL "", 1331, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 23, 68, 161 
   CONTROL "Carry over money (percent):", 1338, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 40, 67, 16 
   CONTROL "", 1334, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 75, 41, 67, 14 
   CONTROL "Inherit timer:", 1339, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 61, 67, 16 
   CONTROL "", 1335, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 61, 68, 161 
   CONTROL "Fill silos:", 1340, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 79, 67, 16 
   CONTROL "", 1336, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 75, 79, 68, 161 
   CONTROL "Ranking", 0, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 151, 25, 190, 165 
   CONTROL "ParTimeEasy:", 1349, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 45, 60, 11 
   CONTROL "ParTimeMedium:", 1350, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 65, 60, 11 
   CONTROL "ParTimeHard:", 1351, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 85, 60, 11 
   CONTROL "OverParTitle:", 1352, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 105, 60, 11 
   CONTROL "OverParMessage:", 1353, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 125, 60, 11 
   CONTROL "UnderParTitle:", 1354, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 145, 60, 11 
   CONTROL "UnderParMessage:", 1355, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 165, 60, 11 
   CONTROL "", 1356, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 45, 113, 14 
   CONTROL "", 1357, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 65, 113, 14 
   CONTROL "", 1358, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 85, 113, 14 
   CONTROL "", 1359, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 105, 113, 14 
   CONTROL "", 1360, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 125, 113, 14 
   CONTROL "", 1361, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 145, 113, 14 
   CONTROL "", 1362, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 223, 165, 113, 14 
}
