#include <Windows.h>

175 DIALOG 0, 0, 324, 156
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Building options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 267, 134, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 209, 134, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 6, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 6, 111, 123
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 22, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 20, 109, 11
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 114, 39, 13
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 114, 267, 63
    CONTROL "Sellable:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 52, 35, 13
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 52, 112, 12
    CONTROL "Rebuild:", 1271, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 66, 40, 14
    CONTROL "Powered:", 1272, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 81, 38, 18
    CONTROL "Upgrade count:", 1273, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 5, 30, 17
    CONTROL "LONG DESC", 1233, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 14, 4, 1, 2
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 36, 40, 14
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 36, 112, 102
    CONTROL "Spotlight:", 1274, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 22, 39, 15
    CONTROL "Upgrade 1:", 1275, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 37, 40, 14
    CONTROL "", 1089, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 36, 77, 65
    CONTROL "Upgrade 2:", 1276, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 52, 40, 16
    CONTROL "", 1091, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 51, 77, 78
    CONTROL "Upgrade 3:", 1277, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 67, 38, 15
    CONTROL "", 1092, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 66, 77, 83
    CONTROL "AI repairs:", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 192, 82, 35, 10
    CONTROL "Nominal:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 192, 97, 40, 10
    CONTROL "", 1085, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 82, 112, 65
    CONTROL "", 1084, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 66, 112, 37
    CONTROL "", 1086, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 6, 77, 47
    CONTROL "", 1090, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 21, 77, 73
    CONTROL "", 1093, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 81, 77, 35
    CONTROL "", 1094, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 236, 97, 77, 35
    CONTROL "", 1300, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 10, 14
    CONTROL "", 1301, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 19, 10, 14
    CONTROL "", 1302, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 33, 10, 14
    CONTROL "", 1303, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 49, 10, 14
    CONTROL "", 1304, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 63, 10, 14
    CONTROL "", 1305, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 78, 10, 14
    CONTROL "", 1306, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 6, 10, 14
    CONTROL "", 1307, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 20, 10, 14
    CONTROL "", 1308, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 34, 10, 14
    CONTROL "", 1309, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 50, 10, 14
    CONTROL "", 1310, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 65, 10, 14
    CONTROL "", 1311, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 79, 10, 14
    CONTROL "", 1312, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 94, 10, 14
    CONTROL "", 1313, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 128, 10, 14
}