#include <Windows.h>

175 DIALOG 0, 0, 300, 156
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Building options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 239, 135, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 135, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 6, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 6, 111, 125
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 22, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 21, 109, 11
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 114, 39, 40
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 114, 241, 65
    CONTROL "Sellable:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 52, 35, 13
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 52, 112, 12
    CONTROL "Rebuild:", 1271, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 67, 40, 14
    CONTROL "Powered:", 1272, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 82, 38, 18
    CONTROL "Upgrade count:", 1273, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 5, 30, 17
    CONTROL "LONG DESC", 1233, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 5, 5, 1, 2
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 36, 40, 14
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 36, 112, 104
    CONTROL "Spotlight:", 1274, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 22, 39, 15
    CONTROL "Upgrade 1:", 1275, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 37, 40, 14
    CONTROL "", 1089, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 36, 77, 67
    CONTROL "Upgrade 2:", 1276, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 52, 40, 16
    CONTROL "", 1091, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 51, 77, 80
    CONTROL "Upgrade 3:", 1277, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 67, 38, 15
    CONTROL "", 1092, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 66, 77, 85
    CONTROL "AI repairs:", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 82, 35, 10
    CONTROL "Nominal:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 168, 97, 40, 10
    CONTROL "", 1085, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 83, 112, 67
    CONTROL "", 1084, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 67, 112, 39
    CONTROL "", 1086, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 6, 77, 49
    CONTROL "", 1090, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 21, 77, 75
    CONTROL "", 1093, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 81, 77, 37
    CONTROL "", 1094, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 212, 97, 77, 37
}