#include <Windows.h>

195 DIALOG 0, 0, 303, 205
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Taskforces"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "Task forces:", 50800, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 71, 10
    CONTROL "", 1144, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 87, 7, 199, 130
    CONTROL "Units in task force:", 50801, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 88, 61, 13
    CONTROL "", 1145, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 87, 88, 199, 68
    CONTROL "Add", 1146, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 102, 61, 15
    CONTROL "Delete", 1147, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 140, 61, 15
    CONTROL "Clone", 50808, BUTTON, BS_PUSHBUTTON | WS_CHILD | ~WS_VISIBLE | WS_TABSTOP, 17, 121, 61, 15
    CONTROL "Group:", 50802, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 69, 61, 13
    CONTROL "", 1122, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 69, 199, 13
    CONTROL "Number of units:", 50803, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 160, 62, 12
    CONTROL "", 1148, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 160, 199, 14
    CONTROL "Unit type:", 50804, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 179, 62, 12
    CONTROL "", 1149, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 87, 179, 199, 183
    CONTROL "Selected task force", 50805, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 45, 290, 153
    CONTROL "Delete", 1150, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 23, 64, 15
    CONTROL "Add", 1151, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 23, 64, 15
    CONTROL "Clone", 50807, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 23, 61, 15
    CONTROL "Name:", 50806, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 17, 56, 61, 12
    CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 54, 199, 13
}
