#include <Windows.h>

192 DIALOG 0, 0, 340, 260
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Teams"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
   CONTROL "Team types connect a trigger with task forces", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 5, 290, 10 
   CONTROL "Team types:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 20, 50, 10 
   CONTROL "", 1109, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 20, 155, 174 
   CONTROL "New", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 20, 35, 15 
   CONTROL "Delete", 1111, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 289, 20, 35, 15 
   CONTROL "Clone", 6001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 252, 20, 35, 15 
   CONTROL "Name:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 50, 20, 10 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 50, 270, 12 
   CONTROL "Veteran level:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 125, 45, 15 
   CONTROL "", 1143, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 125, 105, 56 
   CONTROL "Loadable", 1113, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 195, 55, 8 
   CONTROL "Full", 1114, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 205, 55, 8 
   CONTROL "Annoyance", 1115, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 215, 55, 10 
   CONTROL "Guard slower", 1116, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 225, 55, 8 
   CONTROL "Recruiter", 1117, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 235, 55, 8 
   CONTROL "House:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 65, 35, 10 
   CONTROL "", 1079, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 65, 270, 60 
   CONTROL "Autocreate", 1119, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 195, 55, 8 
   CONTROL "Prebuild", 1120, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 205, 55, 8 
   CONTROL "Reinforce", 1127, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 215, 55, 8 
   CONTROL "Cargo plane", 1128, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 195, 55, 8 
   CONTROL "Whiner", 1129, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 205, 55, 8 
   CONTROL "Loose recruit", 1130, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 215, 55, 8 
   CONTROL "Aggressive", 1131, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 225, 55, 8 
   CONTROL "Suicide", 1132, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 235, 55, 8 
   CONTROL "OnTransOnly", 1133, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 225, 55, 8 
   CONTROL "AvoidThreats", 1134, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 235, 55, 8 
   CONTROL "Ion immune", 1135, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_TABSTOP, 220, 195, 60, 8 
   CONTROL "TransportsReturnOnUnload", 1136, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 215, 100, 8 
   CONTROL "AreTeamMembersRecruitable", 1137, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 205, 105, 8 
   CONTROL "IsBaseDefense", 1138, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 225, 80, 8 
   CONTROL "OnlyTargetHouseEnemy", 1139, BUTTON, BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 220, 235, 100, 8 
   CONTROL "Priority:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 140, 40, 10 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 140, 105, 12 
   CONTROL "Max:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 155, 30, 10 
   CONTROL "", 1012, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 155, 105, 12 
   CONTROL "Techlevel:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 170, 40, 10 
   CONTROL "", 1103, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 170, 105, 68 
   CONTROL "Group:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 140, 30, 10 
   CONTROL "", 1122, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 221, 140, 105, 76 
   CONTROL "Selected team type", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 37, 335, 218 
   CONTROL "Waypoint:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 155, 40, 10 
   CONTROL "", 1123, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 221, 155, 105, 78 
   CONTROL "Script:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 95, 40, 10 
   CONTROL "", 1124, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 95, 270, 203 
   CONTROL "Task force:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 80, 40, 10 
   CONTROL "", 1125, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 80, 270, 203 
   CONTROL "Tag:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 110, 40, 13 
   CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 110, 270, 184 
   CONTROL "Transport waypoint:", 1413, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 125, 40, 17 
   CONTROL "", 1126, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 221, 125, 105, 80 
   CONTROL "Mind Control Decision:", 1446, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 170, 43, 16 
   CONTROL "", 1140, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 221, 170, 105, 201 
}
