#include "Windows.h"

227 DIALOG 0, 0, 363, 78
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "MS Sans Serif"
{
    CONTROL "Terrain / Ground:", 1368, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 94, 10
    CONTROL "", 1366, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 119, 6, 141, 165
    CONTROL "Overlay && Special:", 1369, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 29, 97, 10
    CONTROL "", 1367, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 119, 28, 141, 163
    CONTROL "Tile Manager", 6102, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 46, 65, 17
}
