#include <Windows.h>

251 DIALOG 0, 0, 440, 135
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "Current event:", 50500, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 4, 64, 11
    CONTROL "", 1167, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 64, 4, 194, 77
    CONTROL "New event", 1396, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 299, 4, 61, 14
    CONTROL "Delete event", 1169, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 363, 4, 61, 14
    CONTROL "Event options", 50501, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 19, 433, 116
    CONTROL "Event type:", 50502, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 27, 57, 12
    CONTROL "", 1175, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 64, 28, 194, 184
    CONTROL "", 1399, EDIT, ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 267, 29, 161, 91
    CONTROL "Event parameters:", 50503, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 47, 74, 10
    CONTROL "", 1401, LISTBOX, LBS_STANDARD | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_TABSTOP, 8, 58, 117, 66
    CONTROL "Parameter value:", 50504, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 47, 118, 10
    CONTROL "", 1402, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_NOINTEGRALHEIGHT | CBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 139, 57, 120, 123
    CONTROL "Select the event type first, then set all parameters.", 50505, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 97, 120, 25
}
