#include <Windows.h>

247 DIALOGEX 0, 0, 461, 205
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Trigger editor"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "Select current trigger:", 50300, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 80, 10
    CONTROL "New trigger", 1383, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 257, 7, 60, 14
    CONTROL "Delete trigger", 1161, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 324, 7, 60, 14
    CONTROL "", 1157, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 24, 375, 163
    CONTROL "Tab3", 1393, "SysTabControl32", TCS_TABS | TCS_HOTTRACK | TCS_TOOLTIPS | WS_CHILD | WS_VISIBLE, 7, 44, 442, 154, WS_EX_TRANSPARENT
    CONTROL "Place on map", 1162, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 391, 7, 60, 14
    CONTROL "Clone trigger", 1163, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 391, 24, 60, 14
}
