#include <Windows.h>

250 DIALOG 0, 0, 440, 133
STYLE DS_SETFONT | WS_CHILD
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "Type (modifies all attached Tags!):", 50400, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 226, 31, 205, 9
    CONTROL "", 1394, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 226, 40, 196, 65
    CONTROL "Name", 50401, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 2, 264, 10
    CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 12, 422, 13
    CONTROL "House:", 50402, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 31, 216, 9
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 0, 40, 218, 76
    CONTROL "Attached trigger:", 50403, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 59, 125, 8
    CONTROL "", 1080, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 0, 68, 342, 127
    CONTROL "Disabled", 1412, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 109, 124, 9
    CONTROL "Disabled triggers must be enabled using other triggers before they fire.", 50404, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 94, 260, 9
    CONTROL "Easy", 1424, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 71, 58, 13
    CONTROL "Medium", 1425, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 87, 58, 13
    CONTROL "Hard", 1426, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 351, 103, 58, 13
}


