#include <Windows.h>

176 DIALOG 0, 0, 300, 142
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Unit Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 239, 122, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 122, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 5, 136, 108
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 22, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 22, 136, 11
    CONTROL "State:", 1261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 39, 40, 10
    CONTROL "", 1082, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 39, 136, 84
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 102, 63, 14
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 49, 101, 242, 108
    CONTROL "VeteranLevel:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 77, 37, 17
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 77, 136, 12
    CONTROL "Group:", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 6, 30, 16
    CONTROL "AboveGround:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 22, 30, 16
    CONTROL "FollowsIndex:", 1267, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 42, 30, 16
    CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 6, 65, 12
    CONTROL "", 1085, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 22, 65, 12
    CONTROL "", 1086, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 42, 65, 12
    CONTROL "LONG DESC", 1285, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 6, 6, 1, 1
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 58, 40, 10
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 58, 136, 108
    CONTROL "AutoNORecruitType:", 1268, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 58, 34, 17
    CONTROL "", 1089, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 74, 65, 12
    CONTROL "AutoYESRecruitType:", 1312, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 191, 74, 35, 16
    CONTROL "", 1090, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 227, 58, 65, 12
}