#include <Windows.h>

176 DIALOG 0, 0, 322, 141
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Unit Options"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
FONT 8, "Tahoma"
{
    CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 267, 122, 50, 14
    CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 122, 50, 14
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 5, 33, 11
    CONTROL "", 1079, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 5, 136, 106
    CONTROL "Strength:", 1259, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 22, 29, 10
    CONTROL "Slider1", 1080, "msctls_trackbar32", TBS_TOOLTIPS | TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58, 22, 136, 11
    CONTROL "State:", 1261, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 39, 40, 10
    CONTROL "", 1082, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 39, 136, 82
    CONTROL "Tag:", 1263, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 103, 63, 14
    CONTROL "", 1083, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 81, 103, 231, 102
    CONTROL "VeteranLevel:", 1264, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 77, 37, 17
    CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 58, 77, 136, 12
    CONTROL "Group:", 1265, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 6, 30, 16
    CONTROL "AboveGround:", 1266, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 22, 30, 16
    CONTROL "FollowsIndex:", 1267, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 42, 30, 16
    CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 6, 65, 12
    CONTROL "", 1085, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 22, 65, 12
    CONTROL "", 1086, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 42, 65, 12
    CONTROL "LONG DESC", 1285, STATIC, SS_LEFT | WS_CHILD | ~WS_VISIBLE | WS_GROUP, 6, 6, 1, 1
    CONTROL "Direction:", 1262, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 58, 40, 10
    CONTROL "", 1088, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 58, 58, 136, 106
    CONTROL "AutoNORecruitType:", 1268, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 58, 34, 17
    CONTROL "", 1089, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 74, 65, 12
    CONTROL "AutoYESRecruitType:", 1312, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 74, 35, 16
    CONTROL "", 1090, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 249, 58, 65, 12
    CONTROL "", 1300, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 5, 11, 14
    CONTROL "", 1301, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 20, 11, 14
    CONTROL "", 1302, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 38, 11, 14
    CONTROL "", 1303, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 56, 11, 14
    CONTROL "", 1304, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 72, 11, 14
    CONTROL "", 1305, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 5, 11, 14
    CONTROL "", 1306, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 20, 11, 14
    CONTROL "", 1307, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 38, 11, 14
    CONTROL "", 1308, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 56, 11, 14
    CONTROL "", 1309, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 72, 11, 14
    CONTROL "", 1310, BUTTON, BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 101, 11, 14
}