#include "Windows.h"

177 DIALOG 0, 0, 303, 207
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "所属方"
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
FONT 8, "Tahoma"
{
    CONTROL "DESC [quite long]", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 290, 43
    CONTROL "Human Player:", 1255, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 48, 65, 16
    CONTROL "", 1256, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 49, 220, 151
    CONTROL "House:", 1258, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 65, 64, 22
    CONTROL "", 1091, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 77, 65, 220, 151
    CONTROL "Standard houses", 1093, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 82, 70, 15
    CONTROL "Delete house", 1094, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 82, 70, 15
    CONTROL "Add house", 1092, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 82, 70, 15
    CONTROL "IQ:", 1287, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 105, 40, 10
    CONTROL "", 1095, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 105, 70, 70
    CONTROL "Edge:", 1288, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 120, 40, 10
    CONTROL "", 1096, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 120, 70, 65
    CONTROL "Side", 1289, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 135, 40, 10
    CONTROL "", 1097, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 135, 70, 135
    CONTROL "Color", 1290, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 150, 40, 10
    CONTROL "", 1098, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 150, 70, 150
    CONTROL "Allies:", 1291, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 181, 40, 17
    CONTROL "", 1099, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 182, 221, 12
    CONTROL "Credits (x100):", 1292, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 165, 40, 10
    CONTROL "", 1100, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 165, 70, 12
    CONTROL "被废弃力:", 1293, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 105, 69, 14
    CONTROL "", 1101, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 227, 105, 70, 135
    CONTROL "Nodecount:", 1294, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 119, 68, 15
    CONTROL "", 1102, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 227, 120, 70, 50
    CONTROL "Techlevel:", 1295, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 134, 63, 10
    CONTROL "", 1103, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 227, 135, 70, 135
    CONTROL "Build activity (%):", 1296, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 150, 66, 17
    CONTROL "", 1104, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 227, 150, 70, 50
    CONTROL "Player control:", 1297, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 150, 166, 70, 15
    CONTROL "", 1105, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 227, 166, 70, 50
    CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 98, 293, 102
    CONTROL "...", 8001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 279, 182, 18, 14
}