#include "Windows.h"

302 DIALOG 0, 0, 307, 149
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Search"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "Type", 6200, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 6, 69, 58 
   CONTROL "Reg Name", 6201, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 17, 49, 10 
   CONTROL "UI Name", 6202, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 31, 43, 10 
   CONTROL "Name", 6203, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 13, 44, 34, 10 
   CONTROL "Range", 6204, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 68, 69, 68 
   CONTROL "Infantry", 6205, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 81, 58, 10 
   CONTROL "Vehicle", 6206, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 94, 57, 10 
   CONTROL "Aircraft", 6207, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 107, 57, 10 
   CONTROL "Building", 6208, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 120, 56, 10 
   CONTROL "", 6209, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 10, 164, 14 
   CONTROL "Search", 6210, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 247, 10, 50, 14 
   CONTROL "", 6211, "SysListView32", LVS_REPORT | LVS_ALIGNLEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 28, 215, 90 
   CONTROL "Locate in TreeView", 6212, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 121, 103, 14 
   CONTROL "Locate on the map", 6213, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 121, 103, 14 
}
