#include "Windows.h"

301 DIALOG 0, 0, 254, 335
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tile Manager"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "", 6100, LISTBOX, LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 5, 101, 330 
   CONTROL "", 6101, LISTBOX, LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 5, 136, 330 
}
