#include <Windows.h>

303 DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Allie Editor"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,155,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,252,155,50,14
    LTEXT           "Enemies",-1,7,7,21,13,SS_SUNKEN
    LTEXT           "Allies",-1,281,7,21,11,SS_SUNKEN
    LISTBOX         6302,177,19,125,129,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         6303,7,19,125,129,LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "->",6300,137,57,36,14
    PUSHBUTTON      "<-",6301,137,78,36,14
    EDITTEXT        6304,69,155,167,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP,WS_EX_STATICEDGE
END